[2015-03-15 13:56] jhorwit2 opened #2 "Fix dependencies"
We have 6to5 in both dev & normal dependencies. We should fix this + upgrade to babel.

[2015-03-15 14:52] #2 closed

[2015-03-16 03:10] mako-taco opened #4 "allow stores to register themselves with arbitrary dispatchers"
One step towards isomorphic support.

1. The default dispatcher instance must be used by default
2. A dispatcher can be passed to a store's constructor to associate it with that dispatcher
[code]

[2015-03-16 03:13] mako-taco opened #5 "add hydration/dehydration support to stores"
Add hydrate/dehydrate methods to `ObjectOrientedStore` and `ImmutableStore` using inheritance where possible.  Required for isomorphic apps

[2015-03-16 03:16] mako-taco opened #6 "make enabling debugging simpler"
the current interface is really clunky. ditch support for watching specific actions... there shouldn't be a terrible amount that happen at once anyway.
[code]

[2015-03-16 17:52] jhorwit2 commented on #5
We should probably extend the dispatcher so it keeps track of stores. Similar to the idea that yahoo uses, that way you can keep stores encapsulated on a per http request basis.

[2015-03-16 18:08] mako-taco opened #8 "add coveralls support"

[2015-03-16 18:08] mako-taco opened #9 "add travis ci support"

[2015-03-16 18:31] jhorwit2 commented on #4
We will want to move `var _lastID = 1;` in the dispatcher file into the dispatcher class itself as a symbol variable so multiple dispatchers don't share the same last id.

[2015-03-17 14:58] jhorwit2 opened #12 "Move from makefile to gulp"

[2015-03-18 15:00] #12 closed

[2015-03-19 13:25] #9 closed

[2015-03-21 00:37] jhorwit2 opened #15 "Add the ability to mock store public methods for testing"
We should add the ability to mock public methods and be able to reset them when `Store.TestUtils.reset()` gets called.

My thought process was we would expose a method with a prototype of:

`Store.TestUtils.mockMethod('methodName', newFunction)`

Then, whenever the store gets called, we would first check to see if the map of mocked objects contain that name, if so, use that function instead of the

[2015-03-21 00:42] jhorwit2 commented on #15
Actually the map approach won't work I don't think.

Perhaps we would:

1. Get the public member value for a given string
2. Store it
3. Overwrite it with mocked function
4. Reset it back on reset()
5. profit

we would just need to add this functionality to the ObjectOrientedStore under TestUtils. The object containing all the goodies for public methods is `publicMethods`

[2015-03-21 02:59] benkn opened #16 "null thrown during jasmine testing"
When testing my ActionCreator, I'm getting this error message sporadically:
[code]

From line 151 in ActionCreator, `validatePayload` method:
[code]

I'm not always setting a payloadType in my public methods.

[2015-03-21 03:11] benkn commented on #16
Further investigation, using this payloadType caused the failure:
[code]

[2015-03-21 13:45] jhorwit2 commented on #16
When you called the action when it produced the error did you see anything weird in the object? Like it didn't match what it was supposed to according to your payloadType above?

[2015-03-21 21:41] jhorwit2 opened #17 "Add linting with es6 support"

[2015-03-22 07:07] mako-taco commented on #15
This is for testing views, yes? How about
[code]

[2015-03-22 12:44] jhorwit2 commented on #15
What about if you want to mock publics also? Im assuming you can do that there also?

On Sun, Mar 22, 2015 at 3:07 AM, addthis/fluxthis <reply@reply.github.com> wrote:

This is for testing views, yes? How about

Store.TestUtils.mockValues(() => {
  this.privateValue = 5;
  this.otherPrivateValue = Immutable.List([ ... ]);
});

-
Reply to this email directly or view it on GitHub<https://github.com/

[2015-03-22 12:45] jhorwit2 commented on #15
Not to self, replying via email sucks

[2015-03-22 15:50] #17 closed

[2015-03-22 15:55] jhorwit2 commented on #15
How would this work?
[code]

[2015-03-22 22:03] mako-taco commented on #15
How about this then?  more like what you had before, but makes it easier to do it a bunch.
[code]

[2015-03-22 22:05] mako-taco commented on #16
Any chance you could provide the payload that generates the error?

[2015-03-23 03:49] jhorwit2 opened #20 "Use built bundle for tests instead of absolute paths to individual files"
the reason for this is so we ensure we arent breaking our builds. Our tests dont do us any good if thats the case.

The only exception should be files not exposed directly by requiring fluxthis.

[2015-03-23 04:39] mako-taco commented on #20
how about a single test which tests the giant blob of `FluxThis` for specific properties?

[2015-03-23 12:03] jhorwit2 commented on #20
Imo its better to test the bundle file and just as easy as your way. Either way works in the end though.

[2015-03-25 20:59] #20 closed

[2015-03-27 21:20] #15 closed

[2015-03-28 14:36] jhorwit2 commented on #16
I was able to reproduce.

[code]

Error:

``
`/Users/horwitz/programming/github/fluxthis/src/ActionCreator.es6.js:181 expected = err.message.match(RE_WARNING_EXPECTED)[1];
                                                    ^
TypeError: Cannot read property '1' of null
    at ActionCreator.validatePayload (/Users/horwitz/programming/github/fluxthis/src/ActionCreator.es6.js:181:53)
    at ActionCre

[2015-03-28 14:58] jhorwit2 commented on #16
@benkn - the issue was when you did not pass a value in `createPayload` that is required in your `payloadType`

[2015-03-28 15:26] #16 closed

[2015-03-28 21:44] jhorwit2 opened #29 "babel/polyfill issue if parent library also requires polyfill"
There is a bug since we always require the polyfill. If the library using fluxthis does not require the individual source files (like we do in our code), then they run the chance of having a collision with the polyfill.

[code]

This will throw an error :(. Going to fix now.

[2015-03-28 22:05] jhorwit2 commented on #29
I'm not sure there is a possible fix with this other than libraries using this should use our polyfill. We can't dynamically require since i'm not sure how that'd work in a node module.

[2015-04-04 03:43] jhorwit2 opened #34 "Add production flag to disable Immutable checks"
We should disable immutable checks by default in production to reduce unnecessary performance hits. Alongside the auto opt out with `NODE_ENV='production'` we should allow another ENV variable to enable this feature in production.

Perhaps the check would be

[code]

[2015-04-04 14:44] jhorwit2 opened #36 "Throw invariant when Store tries to add 2 or more listeners to the same action source or type"
There is a bug currently that allows Stores to define multiple listeners to a single action source or type; however, it's a race condition. The last defined listener will always win.

It's a weird notion to define two listeners for 1 action source or type. You should have one listener that can then do multiple things. This allows 1 entry point and is more clear.

An invariant should be thrown in t

[2015-04-04 14:45] jhorwit2 opened #37 "OO Store - stored actions should be stored in a Map, not object"
In the while loop within the OO store we are storing actions as so: `actions[constant] = handler;`

This isn't good because ConstantCollection's will fail and not be unique since we are storing string values in normal objects. If we use es6 maps, we could keep uniqueness across ConstantCollections with the same "value"

[2015-04-04 14:46] jhorwit2 commented on #37
This refactor is going to impact the Dispatcher's optimizations. All that should need to change is the dispatcher's register method. We can use a `.forEach` instead of a `for in` loop to iterate over the es6 map to store actions in the es6 map within the Dispatcher.

[2015-04-04 16:35] #36 closed

[2015-04-04 16:35] #37 closed

[2015-04-04 17:04] #34 closed

[2015-04-08 17:31] jhorwit2 opened #46 "Before calling the update function we need to make sure the component is still mounted"
Temporarily, we will use `this.isMounted()` on the component prior to calling the action. This won't work in react 0.13

[2015-04-08 22:56] #46 closed

[2015-04-13 17:32] jhorwit2 opened #52 "Optimize Implore Requests"
We should add two optimization efforts within implore. We should allow the ability to prevent duplicate route calls when the first once is still not finished.

For example, lets say we request route A with `/path/id` then before the requests finishes we make the same request. We should ignore the second request since it's duplicate.

We should also add an option to do the opposite. If we get the s

[2015-04-13 17:41] jhorwit2 commented on #52
With this approach, we need to store the callbacks and execute each callback for a given request IF they are not the same. This means side effects in functions can be weird, so a note will need to be made of the behavior.

[2015-04-13 17:49] jhorwit2 commented on #52
Also, we should only make this optimization for GET requests, since closing requests on a PUT or POST or DELETE can have super weird side effects.

[2015-04-14 19:12] mako-taco commented on #52
Since implore is promises now, I don't know if we can actually debounce the callbacks based on equality, since we are never handed them.  We can still debounce the network calls, though.

[2015-04-14 23:18] jhorwit2 commented on #52
Should we go back to normal callbacks?

[2015-04-15 14:26] mako-taco commented on #52
I'm going to try an approach where we extend `Promise` and see where that takes me.  I'm also thinking of moving the success tests to implore so we can properly reject/resolve the promises

[2015-04-21 21:00] Wildhoney opened #55 "Aaaaaahhhh! Typos."
Reading: https://fluxthis.io/#/docs/dispatcher

Distpatcher? And then...

![Cover Eyes](https://s-media-cache-ak0.pinimg.com/originals/ec/67/e2/ec67e2dc9285d30e918a08f1a6fcda92.jpg)

[2015-04-21 21:02] jhorwit2 commented on #55
![image](https://cloud.githubusercontent.com/assets/3876739/7262499/21a1b566-e848-11e4-944d-d180847d980d.png)

[2015-04-21 21:05] jhorwit2 commented on #55
Thanks for the ticket! Fixed it.

https://fluxthis.io/#/docs/dispatcher
`var Dispatcher = require('fluxthis/src/dispatcherInstance.es6');`

[2015-04-21 21:06] #55 closed

[2015-04-21 21:18] Wildhoney commented on #55
Aaaaaand...

[2015-04-21 21:28] jhorwit2 commented on #55
:+1:

[2015-04-21 21:30] jhorwit2 commented on #55
Fixed. Thanks :).

[2015-04-21 21:32] jhorwit2 commented on #55
Just a note, all our docs are at http://github.com/addthis/fluxthis.io

The docs themselves are all markdown.

Feel free to submit any PR's! We would love to accept them. :)

[2015-04-21 21:37] Wildhoney commented on #55
Thanks! :+1: Will do if I spot any more.

[2015-04-21 22:35] santihbc opened #56 "add information on how to handle routing"
It would be great to document how routing is handled in AddThis. Routing is a topic where there is disagreement in the Flux community so setting a FluxThis way of doing it would round up a great documentation.

I suggest having the router be a Store that only silently updates the browser URL when listening to specific actions but does fire an action itself on first load to inform what is the entry

[2015-04-21 22:40] mako-taco commented on #56
we're working on a router to use with fluxthis... not quite ready for prime time, though. Probably would be a good idea to at least offer an example until a more codified way is done, though.

[2015-04-21 22:46] jhorwit2 commented on #56
@santihbc as mako said, we actually have been working on this internally because we came to the same realization as the community when it comes to the routers available.

To answer your question, we use backbone's router in our dashboard on addthis.com; however, it has had some pain points. Another internal project tried routie.

Our goal is to soon migrate away from these different routing librar

[2015-04-21 23:19] santihbc commented on #56
I will definitely be :). I was working in something like FluxThis and I came to the same exact conclusions as you did for every component of the Flux architecture but your implementation is better ;).

The router I was working with is based on "request" and has the characteristics I described. Are you in favor of a component syntax like the one currently offered in react-router or more of the sile

[2015-04-22 01:50] mako-taco commented on #56
I've battled this out in my head a lot. My main goals for the router:
- provide a middleware based stack similar to Koa's which would allow for creation of actions in response to route changes
- provide a way to manage browser history (redirect, replace, etc)

In addition, there is the small matter of how the router affects the view. This is probably where most people disagree about what to do. I'

[2015-04-22 01:56] jhorwit2 commented on #56
Mixins can invoke dispatches, thus updating the store. Given you aren't trying to invoke dispatches during life cycle methods where a previous dispatch is still executing.

I'm curious to see your koa like idea. Generators aren't yet prime time enough for browsers (they don't compile to es5 nicely).

I have an idea that stems from how react-router handles things, except we fluxify it.

[2015-04-22 01:57] jhorwit2 commented on #56
Also, something to let your mind chew on:

We need to make sure our idea supports code splitting easily.

[2015-04-22 03:49] mako-taco commented on #56
Here's koa routing w/ code splits
[code]

[2015-04-22 17:25] jhorwit2 commented on #56
Could we instead of requiring the `*` in the router abstract that inside the `Router` object itself?

[2015-04-22 18:23] mako-taco commented on #56
I don't know of a way to turn a normal fn into a generator fn.  I'm not sure babel will even let me build a normal fn with a `yield` in it.

[2015-04-26 12:12] #4 closed

[2015-04-26 12:12] #5 closed

[2015-04-28 02:01] jhorwit2 commented on #56
@santihbc - Any thoughts on this working example?

The thought for this design came from koa/express. The middleware / routes are generators, so you can control async flow. It's a pure flux design and uses our OO store under the hood.

The Router object itself has a mixin you can use in any component to get current values related to the router like the path, query params, path params, etc.

[code]

[2015-04-28 03:45] santihbc commented on #56
I think this could really work in general and for my specific use case.

What I am trying to accomplish with the Flux architecture is a way to make actions playable (for analytics reasons). By this I mean, if I store all the actions that go through the dispatcher in an array and with the actions timestamped, I want to be able to take that array, calculate the time difference between all actions an

[2015-04-28 05:13] focusj opened #58 "I find a maybe typo in the documentatiion quick start part"
In section **Creating a Controller View** section, the render function `<input type='text' value={this.state.newTodoText/>` missing a close `}`.

[2015-04-28 11:51] daannijkamp opened #59 "How does API Action Creators work?"
Maybe i'm missing something, but how does a API Action Creator work?
I've a flux app running on, let say http://www.fluxapp.com/index.html
My flux app makes contact with an api, running on http://www.api.com/customers/...

How can i let my flux app know what the base url (http://www.api.com/) of my api is ?
Is this possible at all?

[2015-04-28 12:35] mako-taco commented on #58
Thanks! Someone else noticed this one, as well. Our docs are located at https://github.com/addthis/fluxthis.io and PRs are very welcome!

[2015-04-28 12:35] #58 closed

[2015-04-28 12:39] mako-taco commented on #59
This isn't possible with the current APIActionCreator, as it does not have CORS or JSONP support. It's something we might add in the future, but for now, you can use the basic `ActionCreator` and make your requests inside of `createPayload`.

[2015-04-28 12:39] #59 closed

[2015-04-28 13:00] AlanFoster opened #60 "Cannot depend on core fluxthis dependency within example project"
The tutorials use the following to require modules -

[code]

This is brittle, as it depends on the internal file structure of the fluxthis package. Instead it would be preferable to depend on the module directly -

[code]

Unfortunately when requiring `fluxthis` using the given quickstart code, the following error is thrown -

[code]

[2015-04-28 13:12] mako-taco commented on #60
The structure of the project won't change -- we actually _prefer_ you include the individual files directly.  This makes for a smaller total bundle size, as any files which you opt not to use do not get lumped in to your code.  Checkout this output of `uglifyjs` for an example:

[code]

Notice that even though we only use `x.a`, both `x.b` and `x.c` are along for the ride.  We absolutely will not

[2015-04-28 14:32] jhorwit2 commented on #60
Hey Alan,

I'm curious about your error you received

```Uncaught Error: only one instance of babel/polyfill is allowed```

Do you already require the `babel/polyfill` in your project? If so, you will need to just use the one we use. Babel has a limitation in that if you require it twice it breaks.

As far as brittleness is concerned, this is why we have versioning and any breaking changes will be

[2015-04-28 14:38] angelocala94 opened #61 "Error with APIActionsCreator"
My console shows an error:
Uncaught Error: Invariant Violation: The method `createRequest` could not be created on `[APIActionCreator AuthAPIActionCreator]`; `route` must be a `string`, like "/example/:example"

but my code seems to be correct, route is a string!
[code]
where i'm wrong?

[2015-04-28 14:44] mako-taco commented on #61
`createRequest` should be part of the definition of the api method (`signIn` in this case)
[code]

[2015-04-28 14:46] angelocala94 commented on #61
So, the docs of APIActionCreator is wrong!
https://fluxthis.io/#/docs/api-action-creators

Thanks for your help.

[2015-04-28 14:48] jhorwit2 commented on #61
@angelocala94 Good catch, I'm fixing that now. Will be pushed shortly

[2015-04-28 14:51] angelocala94 commented on #61
Thanks @jhorwit2

[2015-04-28 14:51] #61 closed

[2015-04-28 14:53] jhorwit2 commented on #61
It's up on http://fluxthis.io now!

@angelocala94 Just an fyi, we have all our docs stored in markdown over at https://github.com/addthis/fluxthis.io. Feel free to submit any PRs if you want :)

[2015-04-28 15:07] angelocala94 opened #62 "Pass Response on success - APIActionCreator"
I have this APIActionCreator. I want to pass the response of my api server at the SIGN_IN_SUCCESS action. How to do it? With a normal Action Creator this can be done with the payloadType.
[code]

[2015-04-28 15:11] jhorwit2 commented on #62
If I'm understanding your question correctly, this is done by default.

If your response is successful, then the action that's dispatched has both the original request and the response from the server.

here is an example of one from our code

[code]

This handler is the method that we registered in our store. So, in your example it would be the

[code]

[2015-04-28 15:13] jhorwit2 commented on #62
Just to be clear:

The actions registered for failed & success both get passed the response & request.

If you register a pending action in the api action creator then you only get the request as the payload.

[2015-04-28 15:14] jhorwit2 opened #63 "Create an example application with an API Action Creator"
We need to setup some example application that ideally uses express or some other simple server implementation to demonstrate our api action creator.

[2015-04-28 15:16] angelocala94 commented on #62
Yes, i have seen it now from your source code.
[code]
Response and Request are passed in the action, but i can't find it in docs.

[2015-04-28 15:17] jhorwit2 commented on #62
Sorry about that, I'm going to look into making those docs more clear and also make an example that you can run / tinker / look at!

Just another side note that should be documented, we don't have support for

` payloadType: ActionCreator.PayloadTypes.string.isRequired`

in the api action creator. This could be something we add support for. The use case I'm thinking in my head is that we validate

[2015-04-28 15:19] jhorwit2 commented on #62
Is it cool to close this issue?

[2015-04-28 15:21] angelocala94 commented on #62
Yes, i think that the documentation is the most important thing about a project. If it's clear and complete, makes the whole project better. Thanks!

[2015-04-28 15:30] jhorwit2 commented on #62
I agree, which is why I quickly wrote up a little snippet to explain pending, failure and success. :)

https://fluxthis.io/#/docs/api-action-creators

[2015-04-28 15:30] #62 closed

[2015-04-28 17:21] AlanFoster opened #64 "Testing - Store already has already has a controller view registered"
With the example QuickStart code and the following test -

[code]

The tests break -

![image](https://cloud.githubusercontent.com/assets/1271782/7375832/29924534-edd3-11e4-8300-0e327a6225cf.png)

I had assumed `MyFirstStore.TestUtils.reset();` may have handled this, and cleared the registered state appropriately, but that does not appear to be the case.

[2015-04-28 17:26] jhorwit2 commented on #64
I'm not quite sure that is even what you want here. You are rendering the same component twice into the document it seems, which should throw an error in FluxThis.

`beforeEach` executes before each `it` call, so by you tried to render the component twice.

The interesting bit of code that I'm unfamiliar with here is the `renderIntoDocument` method. I don't see anywhere in the docs that shows this

[2015-04-28 17:48] #64 closed

[2015-04-28 17:51] mako-taco commented on #64
To be clear, you can totally render the same component 2x using `renderIntoDocument` if you do it like this:
[code]

You can also use `TestUtils.scryRenderedComponentsWithType` to assert that there are two instances of `MyFirstComponent` inside of `first`.

[2015-04-28 17:55] AlanFoster commented on #64
I unfortunately simplified the sample down to try and make it more clear, and as such the original intent of the test was lost.

But it's clear that this is not a fluxthis concern, and is instead how TestUtils renders onto the document and doesn't clean up using `componentWIllUnmount` during tests - thanks!

[2015-04-29 04:55] focusj commented on #63
Yeah, this would be very helpful for new comers. I also tried to create some API Actions, all the things worked very well, but there is a warning log: `The following actions have handlers in stores, but no ActionCreator has registered an action for them...` . Below is my code:
[code]
The log indicates that `RECEIVE_PENDING` and `RECEIVE_SUCCESS` were not registered on an ActionCreator. I debug the

[2015-04-29 13:57] jhorwit2 commented on #56
Newer / nicer and more modular approach to routes.

Router.js
[code]

userRoutes.js
[code]

authMiddleware.js
[code]

[2015-04-29 14:03] mako-taco commented on #63
9 times out of 10, `handleSuccess` is not required. What you want to do is this:
[code]

[2015-04-29 14:54] focusj commented on #63
@mako-taco this is not the root cause of the warning log. Just now i take some time to do a fully research, the root cause maybe is: In `APIActionCreator.createPublicMethod ` this method doesn't invoke `debug.registerAction`, because i found `debug.registerAction` invoked in `ActionCreator.createPublicMethod`. So this is why every thing is good, just a warning msg.
By the way, @mako-taco what you

[2015-04-30 01:11] mako-taco commented on #63
Oh, _that_ warning! Yes... I have been meaning to get rid of it entirely.  Ended up not being particularly helpful

[2015-05-10 13:30] santihbc commented on #56
This looks great. What are the following steps to get this into master?

[2015-05-11 10:33] AlanFoster opened #65 "Rendering component mixed with store multiple times on one page"
Is it possible to have multiple instances of a react class rendered into the document at the same time ?

Here's a small use case -

[code]

[code]

With this set up the following invariant triggers -

[code]

Is this bad practice? Am I doing something wrong to make this invariant trigger?
Would appreciate any thoughts on this :)

[2015-05-11 11:43] jhorwit2 commented on #65
So within flux, you shouldn't be duplicating application state across multiple controller views.

In your example above, you are using the same store twice on the page, which can easily be avoided using good react design guidelines. The way I'd do it would be to make a parent Comments view that contains the application state from the store and passes it down to it's children views.

[code]

[2015-05-11 11:43] #65 closed

[2015-05-15 22:42] mako-taco opened #66 "ObjectOrientedStore: throw invariants when public methods mutate `this`"
Currently, there is no gaurd against this bad design pattern, but it's easy enough to do

[2015-05-16 12:27] mako-taco opened #68 "Remove requirement for `actionSource`"
These are more or less useless.
- drop requirement on action creators
- update debugging messages

[2015-05-16 12:27] jhorwit2 commented on #68
If you are going to do this then also remove the option to filter on debugging.

[2015-05-16 12:28] mako-taco opened #69 "alias `payloadType` and `actionType` in ActionCreators"
The shorthand shouldn't be confusing to anyone:
- `payload`
- `type`

Deprecate the older, longer names so we can clean up some code.

[2015-05-16 12:29] #66 closed

[2015-05-16 13:23] santihbc commented on #56
Any news on this @jhorwit2 ?

[2015-05-16 13:40] jhorwit2 commented on #56
Certain parts are ready, but still have some work left on history & nailing down details. I'm hoping by the end of this week it will be master worthy. :+1:

[2015-05-19 13:29] mako-taco opened #70 "see if its possible to prevent store public methods from being accessed in certain places"
The only place these should be called is inside of `getStateFromStores`, and _maybe_ in action creators.  Definitely not in other lifecycle methods. See if it's possible to invariant that.

[2015-05-21 17:01] #29 closed

[2015-05-21 17:59] mako-taco commented on #68
Just deprecating it for now

[2015-05-21 19:07] #68 closed

[2015-05-21 20:03] #69 closed

[2015-05-21 21:20] AlanFoster commented on #60
Closing as #71 resolves this issue.

[2015-05-21 21:20] #60 closed

[2015-05-22 01:15] jhorwit2 opened #74 "Clean up deprecated methods / config vars in tests"

[2015-05-28 16:31] tjwudi opened #75 "Example repo no longer works"
[mako-taco/react-fluxthis-webpack-mocha-gulp](https://github.com/mako-taco/react-fluxthis-webpack-mocha-gulp) is using fluxthis@1.3.x which is not compatible with the latest stable version.

[2015-05-29 10:47] jhorwit2 commented on #52
Closing for now. We can reopen later.

[2015-05-29 10:47] #52 closed

[2015-05-29 10:48] jhorwit2 commented on #8
Closing for now until better es6 support comes out.

[2015-05-29 10:48] #8 closed

[2015-05-29 10:48] jhorwit2 commented on #70
Closing after discussions with jake.

[2015-05-29 10:48] #70 closed

[2015-05-29 10:50] jhorwit2 commented on #75
The repository should still work, it just needs to be updated. Feel free to submit a PR to his repository or we can take a look at it also. Im closing this as this ticket shouldnt be in the main repo, but perhaps the fluxthis.io one.

[2015-05-29 10:50] #75 closed

[2015-05-31 22:33] jhorwit2 commented on #56
@santihbc - the router seems in a good spot right now. I just need to work on tests & documentation.

[2015-06-01 03:47] jhorwit2 commented on #56
Been working on it over here: https://github.com/jhorwit2/fluxthis-router

[2015-06-02 01:14] jhorwit2 commented on #56
PR #76 is now open for the router & link to current docs for it http://dev.fluxthis.io/#/docs/router

[2015-06-02 13:30] jhorwit2 opened #77 "Router: Add route not found support"
The route needs support for a route not found declaration. Right now it defaults to your default route.

[2015-06-02 13:31] jhorwit2 opened #78 "Router: Add Test Utils"

[2015-06-02 13:34] jhorwit2 commented on #56
The router has been landed and added to the documentation & published; however, it is as experimental feature for the time being until it has been used and tested more.

[2015-06-02 13:34] #56 closed

[2015-06-02 14:35] jhorwit2 commented on #63
I'm closing this for the time being and marking it as future to revisit.

[2015-06-02 14:35] #63 closed

[2015-06-02 14:36] jhorwit2 commented on #74
done for the most part

[2015-06-02 14:36] #74 closed

[2015-06-03 21:31] mdhgriffiths opened #79 "Ability to modify XMLHttpRequest"
It would be great if `FluxThis.APIActionCreator` could support a way of modifying the XMLHttpRequest either via `createRequest` or an alternate method. This would be quite helpful in adding additional headers needed for API authentication/versioning.

[2015-06-03 21:37] jhorwit2 commented on #79
You thinking an object you would return in create request? Where the key is the header key? I like that.

That sounds easy enough to do. Ill knock it out this evening.

[2015-06-03 21:40] jhorwit2 commented on #79
Little clarification.

Ill add support for a 'headers' object in createRequest. If found, then we will set the headers to those key/value pairs.

[2015-06-03 21:50] jhorwit2 commented on #79
#80

[2015-06-03 21:53] mdhgriffiths commented on #79
Sounds great, that's what I've already implemented on my own fork:
https://github.com/mdhgriffiths/fluxthis/commit/58dca715db5b443c20e3b322822c7108b636ff09

[2015-06-03 21:57] jhorwit2 commented on #79
Object.keys.... that's the method i couldn't think of for my PR (long day).

Btw, feel free to submit that PR! I'd gladly accept it instead of the one i submitted.

[2015-06-03 22:00] mdhgriffiths commented on #79
Thanks, will submit PR after some changes/testing.

[2015-06-03 22:03] jhorwit2 commented on #79
Sounds good. I'll close mine out and wait for yours :+1:

[2015-06-03 22:10] mdhgriffiths commented on #79
#81

[2015-06-03 22:25] #79 closed

[2015-06-03 22:36] jhorwit2 commented on #79
Published to npm.

[2015-06-04 14:19] #6 closed

[2015-06-04 14:23] jhorwit2 opened #83 "Add debugging for router middleware and routes"
Add support for a new option in debugging for `{router: true/false}`

[2015-06-04 14:23] jhorwit2 commented on #83
#82

[2015-06-04 14:23] #83 closed

[2015-06-23 18:11] AaronBetterOfficeApps opened #84 "Question: Writing Specs for ApiActionCreators"
We have been struggling through various approaches at testing a APIActionCreator. I have experimented with mocking out the AJAX requests using nock, as the request is async we never seem to be able to asset our expectation from a response. We also haven't been able to get our tests to a point where the success and failure callback functions are executed.

Could you provide some information as to t

[2015-06-23 18:45] jhorwit2 commented on #84
Hey,

I'm curious about the way you are attempting to test the API Action Creator. Would you mind pasting one of your tests (or a few tests).

[2015-06-23 19:07] AaronBetterOfficeApps commented on #84
This is our current very nasty attempt. We have tried a few different have tried to solved this from a few other angles, but without much luck. We have just started to move from facebook's flux.js to fluxthis.js Previously with flux.js the actions were wrapped in promises, something we want to move away from, but it did make it a little easier to test as we could place the expectation in the then

[2015-06-23 19:18] jhorwit2 commented on #84
Thanks for providing that so quickly.

The first question I have is if you are running this on a single page app? Because if you are testing this in mocha & phantom headless then your test won't work correctly if the page hard refreshes.

Quick note about mocha, you should always use `done` passed to `it` for each test, so mocha knows to wait the predefined timeout time for each `it` call.

[code]

[2015-06-23 19:19] jhorwit2 commented on #84
Another random note about your test, it's not clear what you are actually trying to test. `gets an auth token with valid credentials` is what you are returning from the mock, not what you are testing. A better name would be `should call /login when the action creator .login() method gets called` or something.

[2015-06-23 19:20] jhorwit2 commented on #84
I'm closing this as it's not an issue. I'll keep responding even if the ticket is closed.

[2015-06-23 19:20] #84 closed

[2015-06-23 19:37] mako-taco commented on #84
If you are trying to test the _functionality_ of an `APIActionCreator`, I'd recommend doing it by using nock and creating a `Store` which is bound to the actions you are trying to test. @jhorwit2's method is good for asserting that a specific URL is getting requested, though.

[2015-06-23 20:15] AaronBetterOfficeApps commented on #84
Your correct it's not the clearest test, we have only just made the decision to move to fluxthis. This was the first test we had attempted to write for a APIActionCreator. The final specs would have been cleaned up, this would mostly just and experiment to get started.

We are using it as part of a SPA, but we have architecture that splits the sign on into it's own front-end app, that then puts th

[2015-06-23 21:05] AaronBetterOfficeApps commented on #84
We understand that this is a strange use case, but we would still need to mock out the ajax request for a standard api action creator test, where we would assert the results against the store.

While trying to get the handleSuccess callbacks to output something we were unable to receive output at all.

We ended up going with sinon's mock xhr (nock doesn't seem to support ajax), and debugging this

[2015-06-24 10:23] mako-taco commented on #84
We actually _do not_ mock XHR requests. We unit test our stores and servers, and assume the glue between the two works (as it is entirely comprised of FluxThis, which has its own unit tests, and the browser).

We have a unit test in FluxThis specifically for ensuring that `handleSuccess` gets called:

[code]

The resolving promise does not directly call `handleSuccess`, though. Once a request has

[2015-06-24 19:06] AaronBetterOfficeApps opened #85 "Router: Invariant Violation: You can only start the router once"
Having a little trouble getting the router to work [Caused by this line](https://github.com/addthis/fluxthis/blob/master/src/Router.es6.js#L61) as soon as we comment this out we are able to get things moving forward a little. We placed a debugger on this line a check that started is set to false, but once we continue execution it blows up. After commenting it out there are other errors we get with

[2015-06-26 20:23] jhorwit2 commented on #85
Good catch. Sorry about the delay getting back. I'm fixing now.

[2015-06-26 20:25] jhorwit2 commented on #85
Just fyi, this feature is experimental as noted in the docs. We plan to make it a full fledged feature once we are able to integrate it into addthis.com & test it fully.

[2015-06-26 20:28] #85 closed

[2015-06-26 20:29] jhorwit2 commented on #85
v2.2.2 has been published.

[2015-06-26 21:34] AaronBetterOfficeApps commented on #85
Thank you very much for fixing this so quickly.

[2015-07-04 04:03] aaronjensen opened #86 "APIActionCreators do not register actions with debug"
This leads to plenty of warnings if the actions fired by `APIActionCreator`s are not registered elsewhere.

[2015-07-05 14:21] #86 closed

[2015-08-03 18:23] jhorwit2 opened #88 "arnold meow bomb 5"

[2015-08-03 18:23] #88 closed

[2015-09-04 20:58] re5et opened #90 "implore.js / xhr.withCredentials"
I have a static fluxthis app sitting at a sub domain and an api at another subdomain and I would like to have xhr.withCredentials set so cookies can be included, is there a reason that implore.js does not support this as an option?  Can I open a pull request to add it?

[2015-09-04 21:13] jhorwit2 commented on #90
Yup, feel free to PR. It's just not something we have come to need yet, but not a reason we won't gladly accept a PR!

[2015-09-08 21:14] re5et commented on #90
Add https://github.com/addthis/fluxthis/pull/92

Not terribly elegant, but it solves my problem.  Not sure how to implement it in a neater fashion.

[2015-09-28 07:20] max107 opened #94 "Router is a part of a Flux architecture?"
Move component to other repository. Router it's not a flux, i think.

[2015-09-28 14:50] jhorwit2 commented on #94
The flux architecture is simple just `views` -> `actions` -> `dispatcher` -> `stores` -> `views` and repeat. Our router works with the flux architecture and which is why it's included here. The router itself is a store with actions. We could discuss moving it to another repository, but how our builds are setup you don't need to require it (which is just like it's not there)

[2015-09-28 14:50] #94 closed

[2015-09-28 14:53] max107 commented on #94
Ok, thanks

[2015-09-28 14:56] max107 opened #95 "[QUESTION] How to use store mixin with es6 in react?"

[2015-09-28 15:01] jhorwit2 commented on #95
https://fluxthis.io/#/docs/controller-views

Does this answer your question?

[2015-09-28 15:03] max107 commented on #95
No, sorry. I read all documentation and i am beginner in es6. Example react component:

[code]

Sorry for my bad english.

[2015-09-28 15:03] jhorwit2 commented on #95
Oh sorry, mixins don't work in es6 react classes. That's a React thing. You should just use `React.createClass` for the time being.

[2015-09-28 15:04] jhorwit2 commented on #95
You could try something like this https://github.com/brigand/react-mixin, but not 100% sure it works for this. We don't use ES6 classes so this hasn't come up.

[2015-09-28 15:04] #95 closed

[2015-09-28 15:04] max107 commented on #95
Oh, ok. i will try to use https://github.com/brigand/react-mixin.
Thanks.

[2015-09-29 20:32] engenb opened #97 "question: ApiActionCreator-esk class for other remote protocols"
Hey all,

Pulling FluxThis into my project because it's awesome, hands down. It's saving me so much time, so thanks for that!

In addition to hitting a restful API from my web client, I'm also publishing messages to a cloud messaging solution, PubNub.

What would be awesome, is if there was a nice place to plug their js client (or any other remote protocol client) into some kind of ActionCreator t

[2015-10-01 00:19] jhorwit2 commented on #97
I'm thinking you best bet is to use a traditional flux approach to server communication.

We outlined how you can do that here with our framework: https://fluxthis.io/#/docs/action-creators
The first example shows you how you can accomplish custom communication mediums via the ActionCreator.

Does this work for you?

[2015-10-01 01:39] mako-taco commented on #97
The name 'createPayload' was conceived before it was apparent that we needed to provide some mechanism for people to put more events on the event loop at the same time that an action was created.  Definitely does not make any sense, but it's a perfectly OK way to do things.

[2015-10-03 04:24] engenb commented on #97
Makes sense.  My ```RemoteActionCreator``` has been working pretty well for my team so far.  Only downside is the FluxThis debug object isn't exposed outside the framework, so the instance I'm getting is different.  This causes warnings as stores and action creators that ```require('fluxthis').ActionCreator```, for example, are registering with a different debug object.  Not a big deal, but reduce

[2015-10-05 17:56] mako-taco commented on #97
Thanks... this makes me want to break up `createPublicMethod` into things that are more overridable so we can get more code re-use when extending `ActionCreator`

[2015-10-05 20:52] engenb commented on #97
that sounds great!  it'd be awesome, if something like ```sendRequest``` was defined for an ```ApiActionCreator``` instead of on the public method.  you could define how "this action creator sends remote requests".  maybe the default impl of that could be REST - similar to what's in ```ApiActionCreator``` today, but could be overridden.  that way, the framework still enforces best practices withou

[2015-10-30 01:44] jhorwit2 commented on #90
Please update the PR if you wish to land this feature.

Thanks!

[2015-10-30 01:44] #90 closed

[2015-10-30 01:45] #97 closed

[2015-11-20 15:43] alistairjcbrown opened #99 "Built version does not match source code"
The built file on npm appears to differ from the source code for v2.3.2

__Built file contains:__
[code]

__Source code contains:__ (in `implore.es6.js`)
[code]

This causes an issue when upgrading as we manage the JSON parsing in the success callback -`type` contains a charset value, so the body wasn't automatically parsed by `fluxthis`.

[2015-11-20 15:56] alistairjcbrown commented on #99
Looks like this affects all 2.3.x versions - I'll use 2.2.6 in the meantime.

[2015-11-24 21:50] engenb opened #100 "Content-Type application/json not properly handled"
looking at implore.es6.js

```response.type = xhr.getResponseHeader('Content-Type');```

my ```response.type``` here is ```"application/json; charset=utf-8"```

[code]
this condition is obviously not being met and I'm dropping into the else condition.

could this maybe be...
```if(response.type.indexOf('application/json') > -1)```

[2015-11-25 20:32] engenb commented on #100
opened pull request #101 to address this

[2015-11-25 23:02] engenb commented on #99
I'm experiencing this issue as well.  Please review #101

[2015-11-30 23:55] jacobdfriedmann opened #102 "React Native Compatibility"
Was playing with react native recently and attempted to use fluxthis because I like it. There are only a couple things (one important one) that would need to be changed in order to make it compatible. I even think the APIActionCreators will work because react-native polyfills xhr. However, `ActionCreator` pulls in `react/lib/ReactPropTypes` for payloadType validation. This obviously won't work in

[2015-12-01 23:30] alistairjcbrown commented on #99
@engenb I think the easiest solution here is to push a patch version bump with a new build which reflects the code current in the code base. Changing how the Content-Type header is checked can come after.
@jhorwit2 is is possible to push a new build, one which matches the current source code, and which uses the expected `response.type === 'application/json'` ?

[2015-12-01 23:32] jhorwit2 commented on #99
Let me review the failing test on master & i'll take care of publishing a new version with the PR. Sorry about the delay.

[2015-12-01 23:34] #100 closed

[2015-12-01 23:43] jhorwit2 commented on #99
@alistairjcbrown @engenb this should be fixed with v2.4.0 & with the application charset support.

[2015-12-01 23:43] #99 closed

[2015-12-01 23:53] jhorwit2 commented on #102
I think the only solution would be to publish react-native specific versions along with our normal releases. Not 100% sure how react native works, but I assume you can select the version to install?

[2015-12-02 01:22] engenb commented on #99
awesome - thank you!

[2015-12-18 13:50] AlanFoster opened #104 "Cancel APIActionCreators"
Is it possible to cancel APIActionCreator requests?

Scenario -

As a user types input a search field we trigger an API Action Creator.
As this XHR is waiting for a response, the user types another letter, and another XHR request occurrs

There is a potential race condition here, as the first request may be received after the second request and return the wrong results to the user.

Is it possible

[2015-12-18 13:53] jhorwit2 commented on #104
we actually had some talks to allow optimistic canceling of requests based on same paths. For example, if we request route A and while that request is executing the same exact request comes then keep then either 1) Keep first and ignore second or 2) cancel first and submit second.

As of right now we do not have a way to cancel requests. I'll keep this ticket open and investigate it or if you want

[2015-12-18 13:54] jhorwit2 commented on #104
one quick idea i have without really look into the code would be to return a wrapper object when you call the API Action Creator that abstracts canceling the xhr request.

[2015-12-18 13:59] AlanFoster commented on #104
I would love for fluxthis to handle the optimistic cancelling of requests. But I feel like that's too specific of a use case for fluxthis to deal with. In particular i'd be worried about the various edge cases which would need to be considered too.

What would your thoughts on triggering an event if you explicitly want to cancel a specific or all outgoing requests? This would require state within

[2015-12-18 14:02] jhorwit2 commented on #104
So, here is my thinking.

[code]

[2015-12-18 14:12] jhorwit2 commented on #104
After some poking around the code, this would be super easy. I'm going to pass it around internally to get some opinions if anyone has a better way to handle this. Let me know what you think also.

[2015-12-18 15:40] AlanFoster commented on #104
:+1: To letting the application deal with the cancelling of requests. I definitely think it would be beneficial to return a useful object from the APIActionCreator for the purposes of cancelling requests

[2015-12-18 15:46] AlanFoster commented on #102
Slightly crazy suggestion -

Could we make use of peer dependencies here?

ie, create a new npm module `fluxthis-prop-types` for wrapping PropTypes, release two specific branch versions for `react-native` and `react-dom`, then specify `fluxthis-prop-types` as a peer dependency, defaulting to the `react-dom` branch version. If a developer wants to change this to use react-native proptypes, they wil

[2015-12-21 14:39] jmrog commented on #102
Looking quickly through the source, I think @jacobdfriedmann is right that the dependency on `react/lib/ReactPropTypes` is the main issue. FluxThis only uses that for payload validation, I think (and only in dev environments), so I think it's really worth considering making that an optional dependency. It might even be as simple as putting the relevant `require` in a try-catch block (maybe first t

[2015-12-23 02:03] jmrog commented on #102
I finally got a chance do some playing around with this tonight. @jacobdfriedmann, do you recall what the original problem was when you created this issue? I ask because I was actually able to get FluxThis working with React Native without any real tinkering at all. Things I tested: APIActionCreator with a request to a NodeJS endpoint that I quickly whipped up, plain old ActionCreator, and Immutab

[2015-12-23 19:37] matrinox opened #105 "checkImmutable"
This is what it looks like:
[code]
This code `item instanceof Immutable.Iterable` works only if the item was created by same Immutable instance. If you import Immutable from a different source, say FB's immutable, `checkImmutable` will return false despite it being the same 'class' of Immutable! Using `Immutable.Iterable.isIterable(item)` will return true regardless of what Immutable instance was

[2015-12-25 13:40] jacobdfriedmann commented on #102
You're right...this isn't a problem if you use the prebuilt version, which comes packaged with the PropTypes module. I was requiring the source files. I guess there is no real need for me to do that. I'll close this.

[2015-12-25 13:40] #102 closed

[2015-12-31 22:08] jmrog commented on #102
This is also worth noting. It sounds like you might be able to require the source files without issue very soon. https://github.com/facebook/react-native/issues/2985

[2016-01-01 19:42] jhorwit2 commented on #105
Our library uses facebook's immutable library, which is why we have that check. Is there an issue you ran into? Perhaps your version does not match ours? This is something we should probably move to a peer dependency.

[2016-01-01 20:42] jhorwit2 commented on #104
#106

[2016-01-01 20:47] jhorwit2 opened #107 "Documentation update"
#106
#98 - this should be `headers` not request headers.

[2016-01-01 21:17] jhorwit2 commented on #105
After doing a little more research your way is more safe. #108

[2016-01-01 21:18] jmrog commented on #105
I'm inclined to think that it's worth making the change @matrinox suggested. Even using the same version of Immutable.js won't resolve some thorny issues. -- d'oh, you just updated with your comment. :P

[2016-01-01 21:42] jmrog opened #109 "Debugging code breaks debugging/using FluxThis in Node REPL (or other window-less environments)"
[code]

There's just a bad check in debug.es6.js, so I'll fix it momentarily.

[2016-01-01 21:49] #109 closed

[2016-01-01 23:47] #105 closed

[2016-01-07 23:42] AlanFoster opened #111 "Combining ApiActionCreator and compnentDidUpdate"
We are currently using an infinite loading component in conjunction with an ApiActionCreator, and we are hitting the invariant issue `Dispatch.dispatch(...): Cannot dispatch in the middle of a dispatch` from fluxthis.

We are hitting this invariant when an ApiActionCreator returns fires a success event, which populates a store, and then hydrates the infinite loading component. This component then

[2016-01-07 23:46] jhorwit2 commented on #111
Are you using the router?

[2016-01-07 23:51] AlanFoster commented on #111
@jhorwit2 No - we're not currently using a router. We're directly using the store's mixin into a top-level component which implements `getStateFromStores`. On API success we populate the store, which populates the infinite component. Then the infinite component then requests more data within its `componentDidUpdate` and this invariant is triggered

[2016-01-07 23:58] jhorwit2 commented on #111
AFAIK the invariant is not suppose to be triggered on `componentDidUpdate`. I know internally we have calls in `componentDidMount` which is essentially equivalent. I do know the FluxThis router has some caveats to that which is why I asked if you were using it. We will look into why this is happening.

[2016-01-08 04:11] mako-taco commented on #111
You should not be creating any actions inside `componentDidUpdate`, because that could create an infinite cycle.  That is why the invariant is thrown.

[code]

Instead, you could consider creating the action inside the `handleSuccess` or `handleFailure` callbacks of the APIActionCreator for Action A.  Let me know if that solution works for you.

[2016-01-08 10:48] AlanFoster commented on #111
@mako-taco The infinite component will only trigger an action from its `componentDidMount` when it is able to visually display new rows.

With the current setup, the infinite component is the size of the window which is able to display 30 rows. On `componentDidMount` we trigger the API Action requesting the next batch of 20 rows. On success the `componentDidUpdate` method decides it could handle a

[2016-01-08 15:33] mako-taco commented on #111
I was trying to illustrate that triggering an action inside of `componentDidUpdate` will and should _always_ trigger an invariant, if the component is updating due to a previous dispatch, because of the possibility of an infinite cycle.  You'd need special logic inside of `componentDidUpdate` to prevent this cycle (which it sounds like you have, but no flux framework could know this).

Is it possi

[2016-01-08 15:34] #104 closed

[2016-01-08 16:11] jmrog commented on #111
As @mako-taco is indicating, this is by design, and I think it is the intended pattern for any Flux application (I think you'll get the same invariant violation using vanilla Flux, in fact). In [one of his oft-cited Stack Overflow answers](http://stackoverflow.com/questions/26581587/flux-dispatch-dispatch-cannot-dispatch-in-the-middle-of-a-dispatch), Bill Fisher (one of the maintainers of Flux) sa

[2016-01-08 18:34] jhorwit2 commented on #111
@jmrog there are two views on where to load data. You can listen to talks one store vs view from the react conference. Both are technically correct.

[2016-01-09 16:08] jmrog commented on #111
@jhorwit2 Interesting; I had been taking Bill Fisher's word as "law" on this, but I guess it isn't (or maybe he was talking about a more specific scenario -- the gist he was commenting on doesn't actually do the action creating in `componentDidUpdate`).

[2016-01-11 12:48] AlanFoster opened #112 "Dispatcher test not asserting string type correctly"
https://github.com/addthis/fluxthis/blob/20e3a4281d7c9cbfc7b30d0d116405ae0a5441e3/test/src/dispatcher-tests.js#L84

Is currently not asserting the token type correctly; I believe this test should be updated to -

[code]

As an example of this not asserting correctly, this test would also pass with this setup

[code]

[2016-01-11 13:18] AlanFoster opened #113 "Trigger error event when the response has a corresponding error, ie during parsing"
The default ApiActionCreator `defaultSuccessTest` should take into consideration `response.error`, which is currently set when a malformed JSON payload is returned from the server.

[2016-01-11 13:32] AlanFoster opened #115 "Leave body untouched during an error parsing"
This issue is a followup on #112

If we now trigger error events as part of a JSON parsing failure as part of #112, we should most likely leave the body as it is. Currently there is no way to access this information without reaching into `err.message`

#### Current Implementation

https://github.com/engenb/fluxthis/blob/2a32eb393e478b5a6750f656a1f7b4a01a0c79dc/lib/implore.es6.js#L98

[code]

####

[2016-01-11 14:42] mako-taco commented on #115
How about this to avoid breaking backwards compatibility?

[code]

[2016-01-11 17:31] AlanFoster commented on #115
@mako-taco Apologies, I meant for `response.body = responseText` to still be there. Original post updated.

With regards to backwards compatibility; Personally I envision #112 to be a major release, and that this change would be perfect to go with it.

[2016-01-11 17:32] AlanFoster commented on #113
PR to implement this can be found under #114

[2016-01-11 18:01] mako-taco commented on #113
Thanks!

[2016-01-11 18:01] #113 closed

[2016-01-11 21:00] mako-taco commented on #115
Good point.  horwitz and I are pretty busy at work right now if you wouldn't mind doing the PR.  We will publish to NPM and update the release notes afterwards.

[2016-01-11 23:56] AlanFoster commented on #115
@mako-taco Will do; Happy to review #116 ? :+1:

[2016-01-12 17:13] #115 closed

[2016-01-12 18:36] jhorwit2 commented on #111
I'm closing this since this doesn't seem like an issue.

[2016-01-12 18:36] #111 closed

[2016-01-15 02:33] #78 closed

[2016-01-15 02:33] #77 closed

[2016-01-15 02:36] #112 closed

[2016-01-15 02:57] jhorwit2 commented on #107
finished.

[2016-01-15 02:57] #107 closed

[2016-01-15 11:13] AlanFoster opened #117 "No longer able to create a store without private methods"
It was previously possible to create a store without private methods, this has accidentally been broken [here](https://github.com/addthis/fluxthis/commit/5fe3086e557333fd92a72458451830a550831cb9#diff-40a7137038b18f62d47319195d839478R175).

[2016-01-16 22:54] #117 closed

[2016-01-26 08:59] matrinox commented on #105
:+1:

[2016-02-09 17:24] jhorwit2 opened #119 "setRequestHeader doesn't play nice with default Content-Type"
Since we set the content type 100% of the time if a user sets the content type also it will be added with the json type.

[2016-02-09 17:30] jhorwit2 commented on #119
Another issue is we should allow string bodies to be sent without running it through json stringify.

[2016-02-09 23:30] #119 closed

[2016-02-10 23:48] jhorwit2 opened #121 "APIActionCreator - success response can trigger a failure action"
If you specify an api config like

[code]

What happens is `handleSuccess` gets called; however, a bad conditional results in the failure type getting dispatched. This works as intended if you have the success type defined.

https://github.com/addthis/fluxthis/blob/master/src/APIActionCreator.es6.js#L199

[2016-02-11 00:19] #121 closed

[2016-02-16 01:52] jhorwit2 opened #125 "Async setState that was present in react <14 seems to have changed"
https://github.com/addthis/fluxthis/blob/master/src/ObjectOrientedStore.es6.js#L172

The comment above doesn't seem to hold true anymore. Because of this we need to debounce component calls (without a setTimeout since we want it to be in the same tick)

[2016-02-16 19:30] #125 closed

[2016-04-01 15:00] AlanFoster opened #133 "Proposal: ImmutableReducerStore"
What are your thoughts on adding an additional Store to the fluxthis API which is in essence a ReducerStore.

For instance, consider Facebook's [ReducerStore](https://github.com/facebook/flux/tree/b8fd975218245ff6ed72defa9e881ac03853b7ed#flux-utils) as a simple ReducerStore example.

However with the power of fluxthis' API, we can do better than a single reducer function and a switch statement.

I

[2016-04-01 15:11] jhorwit2 commented on #133
Ill chat with @makotaco. We actually have a huge rewrite in progress taking advantage of a lot of goodies. Pretty sure he had already something in mind like this.

[2016-04-01 15:13] AlanFoster commented on #133
@jhorwit2 Mind sharing some of the high-level goals that are planned? It'd be great to see if there's any contributions we could help with :+1:

[2016-04-01 15:16] jhorwit2 commented on #133
Yea ill try to get a ticket setup next week with what we have been discussing.

[2016-04-01 15:39] AlanFoster commented on #133
@jhorwit2 That'd be great, thanks! We've learnt a lot from using fluxthis for the past while, and would love to contribute / see what's in store

[2016-04-01 16:19] jhorwit2 commented on #133
:+1: I'll keep this ticket open for the time being.

[2016-04-01 23:17] mako-taco opened #134 "migrate tests to fluxthis 3.0"

[2016-04-01 23:18] mako-taco opened #135 "migrate or abandon gulp to fluxthis 3.0"
do we still want to use gulp?  If webpack can do everything we need, then I don't want to maintain another configuration file.

[2016-04-01 23:26] mako-taco opened #136 "make travis build work on 3.0"

[2016-04-01 23:37] mako-taco opened #137 "make sure writing unit tests is easy 3.0"
- It will be hard to unit test code if contexts are throwing errors all over the place when people attempt to write their unit tests
- probably other things, too. figure out what they are.

[2016-04-01 23:38] mako-taco opened #138 "port flux logging to 3.0"
enable rich flux lifecycle logging via a simple flag (not like the one in the current FT version)

[2016-04-01 23:43] mako-taco commented on #133
@AlanFoster check out the work-in-progress [here](/addthis/fluxthis/tree/fluxthis-3.0)

[2016-04-02 00:01] AlanFoster commented on #133
@mako-taco there's some cool API changes there :+1:
Out of interest, why the decision to nuke ApiAction creators?

[2016-04-02 00:39] jhorwit2 commented on #133
We plan to still have them. @AlanFoster.

I'll probably start on them soon. I'm not sure how familiar you are with [dropwizard](https://dropwizard.github.io/dropwizard/0.6.2/manual/core.html#resources) but I have some plans to do annoations similar to that on es6 classes instead of config objects.

[2016-04-02 00:46] mako-taco commented on #133
I really did not like ApiActionCreator.  I thought it was a ton of configuration, and a decent source of confusion. With the new  API, it should be very few lines of code to get the same effect:

[code]

I didn't feel like the confusion it caused people / how much reading it took to learn made it worth it, but everyone tells me I'm wrong... and it seems like @jhorwit2 might implement them anyway.

[2016-04-02 00:49] jhorwit2 commented on #133
As @mako-taco said, there was perhaps some features we added that made it a little over the top. We will most likely slim down some of the features keeping only what we deem necessary. For example, we haven't really found a good use case of handleSuccess and handleFailure that couldn't be solved otherwise, so that will probably go.

[2016-04-02 01:04] jhorwit2 commented on #133
If you have an ideas @AlanFoster let us know.

[2016-04-02 01:27] mako-taco opened #139 "port router store/action creator to 3.0"

[2016-04-02 01:28] mako-taco opened #140 "make ApiAction for 3.0"
When the action is created, create new classes `Failure` and `Success` on the original Action constructor, so people don't have to blindly make dummy classes.  Beyond that part... pretty open ended.

[2016-04-02 03:17] AlanFoster commented on #133
I would definitely be keen to keep API Action Creators as part of fluthis. It's nice to have a consistent API when calling RESTful services, and letting the JSON serializing/parsing be handled for us.

We currently use `handleFailure` in our application to check if the status code is a 401 unauthorised response. We then dispatch an additional event for this scenario for our application to deal wit

[2016-04-02 04:20] mako-taco commented on #133
APIActionCreator will automatically dispatch the `failure` action passed to it, if one was provided, on failed requests (by default, any status code outsode of 200-300 range)
https://fluxthis.io/#/docs/api-action-creators

[2016-04-03 19:08] AlanFoster commented on #133
@mako-taco That's true; The problem is we have a lot of API Action Creators. Having a Login store know about every single possible API Action Creator Failure is too much overhead, so firing a single expired login event seemed nicer.

I've put a PR up for this ImmutableReducerStore ticket now though - https://github.com/addthis/fluxthis/pull/141

Would appreciate a review! :)

[2016-04-11 22:01] AlanFoster commented on #133
@mako-taco / @jhorwit2 Anything holding this back from being released? :+1:

[2016-04-11 22:06] jhorwit2 commented on #133
As far as I know we should be good. I'll chat with mako tomorrow. Company acquisition and stuff has made for a lot of side things to do. sorry about the slowness.

[2016-04-15 17:20] jhorwit2 commented on #133
@AlanFoster sorry about the delay (we have been traveling for work). v2.7.0 has been released.

[2016-04-15 17:20] #133 closed

[2016-04-15 22:56] AlanFoster commented on #133
@jhorwit2 Awesome, thanks!

[2016-05-15 03:55] AlanFoster opened #142 "Allow named parameters with file formats"
Fluxthis does not currently support using named params in conjunction with a file format -

[code]

When calling `getMyModel(1)` I would expect it to ping against `/my_models/1.json` instead it currently pings against `/my_models/:id.json` and 404s

Is this expected behaviour, or should it be changed within fluxthis?

[2016-05-21 15:26] jhorwit2 commented on #142
This is not expected. Do you mind submitting a PR?

[2016-05-21 15:51] AlanFoster commented on #142
@jhorwit2 thanks for the confirmation :+1:
I wouldnt be in a position to add a PR for this currently though

[2016-05-21 16:01] jmrog commented on #142
I can probably look into this some today.

[2016-05-22 20:27] #142 closed

[2016-06-03 12:36] jmrog opened #144 "Allow defining default headers for all APIActionCreator requests"
Users have requested the ability to define default request headers that will be sent with all requests subsequently triggered by APIActionCreator. The expected behaviors are:

1. No default headers are set initially (before the user specifies any). `request.headers` should be `undefined` initially, for backwards compatibility.
2. Once default headers are set, they will be sent with all requests (a

[2016-06-03 12:51] jhorwit2 commented on #144
![](https://i.memecaptain.com/gend_images/Jg1V1w.gif)

[2016-06-03 14:28] jmrog commented on #144
@jhorwit2 Thoughts on [this](https://github.com/addthis/fluxthis/commit/45ad09d952c615bf9cfa454617a666465a2b1f02)? I set up the API slightly differently than we discussed offline because I think this way is a bit more friendly/secure (it keeps the `defaultHeaders` private and allows the user to set it using a static method that we guard with an `invariant`).

Relatedly, do we try to keep our LOC h

[2016-06-03 14:29] jmrog commented on #144
Oh, I should probably add a test for the invariant, so I'll do that as well.

[2016-06-06 19:21] #144 closed

[2016-06-08 22:37] AlanFoster opened #149 "APIActionCreator - Trigger failure event when there is a networking error"
Currently fluxthis does not currently fire failure events when there is a networking error, such as not having access to the internet.

[2016-06-08 23:02] jhorwit2 commented on #149
Good catch. It seems to be tied to the xhr.status !== 0 check [here](https://github.com/addthis/fluxthis/blob/master/lib/implore.es6.js#L120) because the status did change.

[2016-06-10 01:14] jhorwit2 commented on #149
@AlanFoster what would you expect as a response obj? The status will be 0 which isnt a common check.

[2016-06-12 23:00] alistairjcbrown opened #150 "Unable to create production build without debugging"
Setting `process.env.NODE_ENV` to 'production' in an applications webpack config, as referenced in [the debug file](https://github.com/addthis/fluxthis/blob/46c79d5b02e0a5976e684c87923797e0be65ff40/src/debug.es6.js#L21) (amongst others), should create a build without debug messages being shown.

However, during the `fluxthis` build process, the webpack config uses the define plugin, and [replaces

[2016-06-15 17:34] jacobdfriedmann opened #151 "Allow setting of a default base URL for APIActionCreators"
When using APIActionCreators, it would be nice to be able provide a base URL for all other routes to be appended to. It would work very similarly to how setting default headers works:

[code]

[code]

[2016-06-17 13:01] jhorwit2 commented on #150
Thanks for submitting this.

Just to let you know, if you are requiring our files via the built code (not `require('fluxthis/src/SomeFile')`) then it is built with the production env variable set as you can see [here](https://github.com/addthis/fluxthis/blob/master/Gulpfile.js#L78)

I'm going to double check with @mako-taco but from what I remember we wanted debugging to exist in production as it'

[2016-06-17 16:52] #151 closed

[2016-06-19 19:21] alistairjcbrown commented on #150
@jhorwit2 Thanks for the reply - I see there's a minified bundle too. Good to know.

Does that mean that the minified bundle still contains debugging, even though it's built with the production env variable set?

Ideally I'd hope for a setup similar to how react deals with warnings - importing the library contains warnings, setting `process.env.NODE_ENV` to "production" (say, via the webpack defin

[2016-06-20 22:47] jhorwit2 commented on #150
So, you shouldn't be seeing any warnings with production environment set. The only warnings we show by default are the unused registered actions, which the flag removes. I just checked our prod env and don't see them like we do in dev/test.

It does contain the debugging so you have the ability to turn it on via setting the global variable FLUX_DEBUG. The debug code itself is a pretty small file w

[2016-06-20 23:09] jhorwit2 opened #155 "take a look at deprecated things to remove"

[2016-06-20 23:09] jhorwit2 opened #156 "cleanup the tests to use non-deprecated ways of doing things"

[2016-07-01 20:04] AlanFoster commented on #149
@jhorwit2 According to the [specification](https://www.w3.org/TR/XMLHttpRequest/#states), 0 is the correct status code to check for. It denotes that the message was unsent, either via being offline, or even for things as CORS issues.

We could also bind to `onerror` if you wished to handle this separately.

Thoughts?

[2016-07-01 20:16] jhorwit2 commented on #149
I'm trying to remember when I wrote this code why I did the explicit check for 0.

Would you happen to know the order of the calls & if it's guaranteed between browsers (i'm sure since this is js that one isn't a thing ;) ) -- onerror, onreadystatechange, onabort? I wasn't able to find this last time I searched the spec/googlez.

^^ I think that's why I did it. I'm completely open to changing this

[2016-10-07 13:16] selzaharna opened #159 "Calling PropTypes validation directly is a deprecated feature in React 15"
ActionCreator.validatePayload calls PropTypes directly which is now a deprecated feature:

https://facebook.github.io/react/warnings/dont-call-proptypes.html

The alternative is:

a) remove this feature from FluxThis
b) use one of the third part libraries that duplicates PropTypes logic suggested in the Facbeook post above

[2016-10-07 13:32] selzaharna commented on #159
Actually just read into the code and noticed it's already deprecated:

`deprecated(
			description.payloadType,
			'ActionCreator.Action.payloadType',
			'ActionCreator.Action.payload'
		);`

Should we remove PropTypes before React 16 is released?

[2016-10-07 15:35] jhorwit2 commented on #159
Feel free to submit a PR @selzaharna

[2016-10-07 15:35] jhorwit2 commented on #159
We should not remove validation but rather move to another library.

[2017-07-25 20:08] msteward commented on #159
Note that the new `prop-types` package does support validation of PropTypes via the `checkPropTypes` method (see https://github.com/facebook/prop-types). I'll try to create a PR which uses this instead

[2017-07-31 16:12] AlanFoster opened #161 "Using queryStrings with arrays"
Hey;

Just a quick question about the serialization for array query strings within fluxthis.

We're currently attempting to send an array via the `params` option of the ApiActionCreators.
Over the wire we I would have expired this format:

[code]

Currently it is serialized as:

[code]

Rails, Express, and PHP currently rely on the first format to identify a query string param as an array. However

[2017-07-31 18:38] mako-taco commented on #161
Option 2 sounds great!

[2018-02-08 00:53] #149 closed

[2018-07-31 16:36] msteward commented on #159
Seems this has already been resolved 👍